.regalos-list-container {
  background-color: var(--primary);
  min-height: 10vh;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.regalos-list-body {
  /* gap: 5px;
  display: flex;
  flex-wrap: wrap; */

  padding: 1rem;
  width: 100%;
  border-radius: var(--radius);
}

.regalos-list-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  align-items: center;
}

.regalos-list-header .delete-all {
  padding: 0.5rem;
  font-family: var(--font-sans-serif);
  /* font-size: 0.9rem; */
  text-transform: uppercase;
  background: var(--secondary);
  border-radius: var(--radius);
  border: none;
  color: var(--snow);
  cursor: pointer;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.no-gifts {
  color: var(--muted);
  padding: 1rem 0;
}

.regalos-list-count {
  color: var(--muted);
  font-size: small;
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
}

.regalos-list-actions {
  display: flex;
  gap: 5px;
}