.form-new-regalo {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 5px;
  border-radius: var(--radius);
  margin: 1rem auto;
  padding: 0.7rem;
  background-color: var(--primary);
  border: 1px solid transparent;
}

.form-new-regalo input, .form-new-regalo button{ 
  border: 1px solid #31344b;
  border-radius: var(--radius);
  padding: .7rem;
  outline: none;
  color: var(--color);
}

.form-new-regalo input:focus {
  border-color: var(--secondary) !important;
}

.giftname_input {

  border: 1px solid transparent;
  font-size: 1rem;
  flex-basis: calc(80% - 10px);
  background-color: transparent;
 
}

.quantity_input {
  border: 1px solid #31344b;

  width: 21%;
  font-family: var(--font-sans-serif);
  text-align: center;
  font-size: 1rem;
  background-color: transparent;
}

 .form-new-regalo:focus-within {
  border-color: var(--secondary) !important;
}


.form-new-regalo button {
  flex-basis: 100%;
  padding: .5rem;
  margin-top: 1rem;
  font-family: var(--font-sans-serif);
  font-size: .9rem;
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--secondary);
  color: var(--color);
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
}

.form-new-regalo button:focus,
.form-new-regalo button:hover {
  background-color: var(--secondary-dark);
}

.form-new-regalo button:disabled {
  background-color: #31344b;
}

.error-message {
  color: #de3f3f;
  flex-basis: 100%;
  margin: .5rem 0;
  font-size: .9rem;
}

.giftimg_input, .giftdest_input, .price_input {
  background: transparent;
  border: none;
  font-size: 1rem;
  font-family: 'Roboto';
  padding: .5rem;
  width: 100%;
  color: var(--color);
  margin-top: .5rem;
}

.sorprendeme-btn {
  padding: .7rem 0 !important;
  margin-bottom: .5rem; 
}